.carousel-img {
	min-width: inherit !important; 
  height: 400px;

  @media (max-width: 600px) {
		height: 280px;
	}
}

.carousel-inner {
  width: inherit !important;
}

.carousel {
  width: inherit !important;
}

.rounded-circle {
	background-color: red !important;
	color: red !important;
}

.achievement-img {
	border: 4px solid orange;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: relative;
	bottom: 37px;

	 @media (max-width: 600px) {
		bottom: 10px;
		width: 120px;
		height: 120px;
	}
}