.profile-card {
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 3px 5px 5px #ccc;
}

.profile-header-row {
	margin-top: 30px;
	margin-bottom: 13px;
}

.profile-row-margin {
	margin-bottom: 60px !important;
}

.profile-img-wrapper {
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile-info-wrapper {
	border: none;
}

.profile-info {
	font-size: 20px;
}

.profile-statistics-button {
	margin-bottom: 5px;
}

.profile-form-label {
	margin-left: 4px;
}

.tags {
	padding-right: 25px;
}

.carousel-img {
	min-width: inherit !important; 
  height: 400px;

  @media (max-width: 600px) {
		height: 280px;
	}
}

.carousel-inner {
  width: inherit !important;
}

.carousel {
  width: inherit !important;
}

.rounded-circle {
	background-color: red !important;
	color: red !important;
}

.achievement-img {
	border: 4px solid orange;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	position: relative;
	bottom: 37px;

	 @media (max-width: 600px) {
		bottom: 10px;
		width: 120px;
		height: 120px;
	}
}

.profile-tag-history {
	color: $blue;
	margin-bottom: 10px;
}

.profile-stats {
	border-radius: 20px;
	padding-bottom: 30px;
	background-color: white;
	box-shadow: 0px 3px 5px 5px #ccc;
	padding-top: 30px;
}

.profile-graph-row {
	margin-bottom: 25px;
}

.profile-hide-stats {
	cursor: pointer;
	color: $gray-600 !important;

	&:hover {
		color: $gray-500 !important;
	}
}

html {
  scroll-behavior: smooth;
}